In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
import math
%matplotlib inline

# loading dataset

In [22]:
train = pd.read_csv("C:/Users/pekat/.kaggle/competitions/titanic/train.csv")
test = pd.read_csv("C:/Users/pekat/.kaggle/competitions/titanic/test.csv")
out_sample = pd.read_csv("C:/Users/pekat/.kaggle/competitions/titanic/gender_submission.csv")

In [23]:
X_train = train.drop(["Survived"], axis=1)
y_train = train["Survived"]
X_train.columns, test.columns
X_test = test

# data cleaning

normalize cabin before sklearn pipeline
because sklearn cannot dealing well with array containing nan and object

In [24]:
def append_normalized_cabin(data):
    cabins = X_train["Cabin"]
    cabin_notnull = cabins.notnull()
    cabins = cabins[cabin_notnull].apply(lambda x: ord(x[0])) - ord("A")
    data.loc[cabin_notnull, "CabinNorm"] = cabins

In [25]:
append_normalized_cabin(X_train)
append_normalized_cabin(X_test)

In [26]:
X_train.fillna("NaN")
X_test.fillna("NaN")

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,CabinNorm
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,NaN
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,NaN,S,2
2,894,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,NaN,Q,NaN
3,895,3,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,NaN,S,2
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22,1,1,3101298,12.2875,NaN,S,NaN
5,897,3,"Svensson, Mr. Johan Cervin",male,14,0,0,7538,9.225,NaN,S,NaN
6,898,3,"Connolly, Miss. Kate",female,30,0,0,330972,7.6292,NaN,Q,4
7,899,2,"Caldwell, Mr. Albert Francis",male,26,1,1,248738,29,NaN,S,NaN
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18,0,0,2657,7.2292,NaN,C,NaN
9,901,3,"Davies, Mr. John Samuel",male,21,2,0,A/4 48871,24.15,NaN,S,NaN
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S,6
11,903,1,"Jones, Mr. Charles Cresson",male,46,0,0,694,26,NaN,S,2
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23,1,0,21228,82.2667,B45,S,NaN
13,905,2,"Howard, Mr. Benjamin",male,63,1,0,24065,26,NaN,S,NaN
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47,1,0,W.E.P. 5734,61.175,E31,S,NaN
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24,1,0,SC/PARIS 2167,27.7208,NaN,C,NaN
16,908,2,"Keane, Mr. Daniel",male,35,0,0,233734,12.35,NaN,Q,NaN
17,909,3,"Assaf, Mr. Gerios",male,21,0,0,2692,7.225,NaN,C,NaN
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27,1,0,STON/O2. 3101270,7.925,NaN,S,NaN
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45,0,0,2696,7.225,NaN,C,NaN
20,912,1,"Rothschild, Mr. Martin",male,55,1,0,PC 17603,59.4,NaN,C,NaN
21,913,3,"Olsen, Master. Artur Karl",male,9,0,1,C 17368,3.1708,NaN,S,3
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S,NaN
23,915,1,"Williams, Mr. Richard Norris II",male,21,0,1,PC 17597,61.3792,NaN,C,0
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48,1,3,PC 17608,262.375,B57 B59 B63 B66,C,NaN
25,917,3,"Robins, Mr. Alexander A",male,50,1,0,A/5. 3337,14.5,NaN,S,NaN
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22,0,1,113509,61.9792,B36,C,NaN
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.225,NaN,C,2
28,920,1,"Brady, Mr. John Bertram",male,41,0,0,113054,30.5,A21,S,NaN
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21,0,0,364858,7.75,NaN,Q,NaN
389,1281,3,"Palsson, Master. Paul Folke",male,6,3,1,349909,21.075,NaN,S,NaN
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23,0,0,12749,93.5,B24,S,1
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51,0,1,PC 17592,39.4,D28,S,NaN
392,1284,3,"Abbott, Master. Eugene Joseph",male,13,0,2,C.A. 2673,20.25,NaN,S,NaN
393,1285,2,"Gilbert, Mr. William",male,47,0,0,C.A. 30769,10.5,NaN,S,3
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29,3,1,315153,22.025,NaN,S,6
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18,1,0,13695,60,C31,S,NaN
396,1288,3,"Colbert, Mr. Patrick",male,24,0,0,371109,7.25,NaN,Q,NaN
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48,1,1,13567,79.2,B41,C,NaN
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22,0,0,347065,7.775,NaN,S,NaN
399,1291,3,"Conlon, Mr. Thomas Henry",male,31,0,0,21332,7.7333,NaN,Q,NaN
400,1292,1,"Bonnell, Miss. Caroline",female,30,0,0,36928,164.867,C7,S,NaN
401,1293,2,"Gale, Mr. Harry",male,38,1,0,28664,21,NaN,S,NaN
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22,0,1,112378,59.4,NaN,C,NaN
403,1295,1,"Carrau, Mr. Jose Pedro",male,17,0,0,113059,47.1,NaN,S,NaN
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43,1,0,17765,27.7208,D40,C,NaN
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20,0,0,SC/PARIS 2166,13.8625,D38,C,NaN
406,1298,2,"Ware, Mr. William Jeffery",male,23,1,0,28666,10.5,NaN,S,NaN
407,1299,1,"Widener, Mr. George Dunton",male,50,1,1,113503,211.5,C80,C,NaN
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q,NaN
409,1301,3,"Peacock, Miss. Treasteall",female,3,1,1,SOTON/O.Q. 3101315,13.775,NaN,S,NaN
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.75,NaN,Q,NaN
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37,1,0,19928,90,C78,Q,NaN
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28,0,0,347086,7.775,NaN,S,2
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.05,NaN,S,NaN
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9,C105,C,NaN
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.25,NaN,S,NaN
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.05,NaN,S,NaN
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,NaN

In [8]:
X_train

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,CabinNorm
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2.0
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2.0
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN
5,6,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,NaN
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,4.0
7,8,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,NaN
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,NaN
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,NaN
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,6.0
11,12,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,2.0
12,13,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,NaN
13,14,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,NaN
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,NaN
15,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,NaN
16,17,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,NaN
17,18,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,NaN
18,19,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,NaN
19,20,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,NaN
20,21,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,NaN
21,22,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,3.0
22,23,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,NaN
23,24,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,0.0
24,25,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,NaN
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,NaN
26,27,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,NaN
27,28,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,2.0
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,NaN
29,30,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,NaN
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,3.0
863,864,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN
864,865,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,NaN
865,866,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,NaN
866,867,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,NaN
867,868,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,0.0
868,869,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,NaN
869,870,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,NaN
870,871,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,NaN
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,3.0
872,873,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,1.0
873,874,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,NaN
874,875,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,NaN
875,876,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,NaN
876,877,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,NaN
877,878,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,NaN
878,879,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,NaN
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,2.0
880,881,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,NaN
881,882,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,NaN
882,883,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,NaN
883,884,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,NaN
884,885,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,NaN
885,886,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,NaN
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,NaN
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1.0
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,2.0
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,NaN

In [9]:
from sklearn.base import BaseEstimator, TransformerMixin

class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
        
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names].values

define upcoming CategoricalEncoder

In [10]:
# Definition of the CategoricalEncoder class, copied from PR #9151.
# Just run this cell, or copy it to your code, do not try to understand it (yet).

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.utils import check_array
from sklearn.preprocessing import LabelEncoder
from scipy import sparse

class CategoricalEncoder(BaseEstimator, TransformerMixin):
    """Encode categorical features as a numeric array.
    The input to this transformer should be a matrix of integers or strings,
    denoting the values taken on by categorical (discrete) features.
    The features can be encoded using a one-hot aka one-of-K scheme
    (``encoding='onehot'``, the default) or converted to ordinal integers
    (``encoding='ordinal'``).
    This encoding is needed for feeding categorical data to many scikit-learn
    estimators, notably linear models and SVMs with the standard kernels.
    Read more in the :ref:`User Guide <preprocessing_categorical_features>`.
    Parameters
    ----------
    encoding : str, 'onehot', 'onehot-dense' or 'ordinal'
        The type of encoding to use (default is 'onehot'):
        - 'onehot': encode the features using a one-hot aka one-of-K scheme
          (or also called 'dummy' encoding). This creates a binary column for
          each category and returns a sparse matrix.
        - 'onehot-dense': the same as 'onehot' but returns a dense array
          instead of a sparse matrix.
        - 'ordinal': encode the features as ordinal integers. This results in
          a single column of integers (0 to n_categories - 1) per feature.
    categories : 'auto' or a list of lists/arrays of values.
        Categories (unique values) per feature:
        - 'auto' : Determine categories automatically from the training data.
        - list : ``categories[i]`` holds the categories expected in the ith
          column. The passed categories are sorted before encoding the data
          (used categories can be found in the ``categories_`` attribute).
    dtype : number type, default np.float64
        Desired dtype of output.
    handle_unknown : 'error' (default) or 'ignore'
        Whether to raise an error or ignore if a unknown categorical feature is
        present during transform (default is to raise). When this is parameter
        is set to 'ignore' and an unknown category is encountered during
        transform, the resulting one-hot encoded columns for this feature
        will be all zeros.
        Ignoring unknown categories is not supported for
        ``encoding='ordinal'``.
    Attributes
    ----------
    categories_ : list of arrays
        The categories of each feature determined during fitting. When
        categories were specified manually, this holds the sorted categories
        (in order corresponding with output of `transform`).
    Examples
    --------
    Given a dataset with three features and two samples, we let the encoder
    find the maximum value per feature and transform the data to a binary
    one-hot encoding.
    >>> from sklearn.preprocessing import CategoricalEncoder
    >>> enc = CategoricalEncoder(handle_unknown='ignore')
    >>> enc.fit([[0, 0, 3], [1, 1, 0], [0, 2, 1], [1, 0, 2]])
    ... # doctest: +ELLIPSIS
    CategoricalEncoder(categories='auto', dtype=<... 'numpy.float64'>,
              encoding='onehot', handle_unknown='ignore')
    >>> enc.transform([[0, 1, 1], [1, 0, 4]]).toarray()
    array([[ 1.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  0.],
           [ 0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.]])
    See also
    --------
    sklearn.preprocessing.OneHotEncoder : performs a one-hot encoding of
      integer ordinal features. The ``OneHotEncoder assumes`` that input
      features take on values in the range ``[0, max(feature)]`` instead of
      using the unique values.
    sklearn.feature_extraction.DictVectorizer : performs a one-hot encoding of
      dictionary items (also handles string-valued features).
    sklearn.feature_extraction.FeatureHasher : performs an approximate one-hot
      encoding of dictionary items or strings.
    """

    def __init__(self, encoding='onehot', categories='auto', dtype=np.float64,
                 handle_unknown='error'):
        self.encoding = encoding
        self.categories = categories
        self.dtype = dtype
        self.handle_unknown = handle_unknown

    def fit(self, X, y=None):
        """Fit the CategoricalEncoder to X.
        Parameters
        ----------
        X : array-like, shape [n_samples, n_feature]
            The data to determine the categories of each feature.
        Returns
        -------
        self
        """

        if self.encoding not in ['onehot', 'onehot-dense', 'ordinal']:
            template = ("encoding should be either 'onehot', 'onehot-dense' "
                        "or 'ordinal', got %s")
            raise ValueError(template % self.handle_unknown)

        if self.handle_unknown not in ['error', 'ignore']:
            template = ("handle_unknown should be either 'error' or "
                        "'ignore', got %s")
            raise ValueError(template % self.handle_unknown)

        if self.encoding == 'ordinal' and self.handle_unknown == 'ignore':
            raise ValueError("handle_unknown='ignore' is not supported for"
                             " encoding='ordinal'")

        X = check_array(X, dtype=np.object, accept_sparse='csc', copy=True)
        n_samples, n_features = X.shape

        self._label_encoders_ = [LabelEncoder() for _ in range(n_features)]

        for i in range(n_features):
            le = self._label_encoders_[i]
            Xi = X[:, i]
            if self.categories == 'auto':
                le.fit(Xi)
            else:
                valid_mask = np.in1d(Xi, self.categories[i])
                if not np.all(valid_mask):
                    if self.handle_unknown == 'error':
                        diff = np.unique(Xi[~valid_mask])
                        msg = ("Found unknown categories {0} in column {1}"
                               " during fit".format(diff, i))
                        raise ValueError(msg)
                le.classes_ = np.array(np.sort(self.categories[i]))

        self.categories_ = [le.classes_ for le in self._label_encoders_]

        return self

    def transform(self, X):
        """Transform X using one-hot encoding.
        Parameters
        ----------
        X : array-like, shape [n_samples, n_features]
            The data to encode.
        Returns
        -------
        X_out : sparse matrix or a 2-d array
            Transformed input.
        """
        X = check_array(X, accept_sparse='csc', dtype=np.object, copy=True)
        n_samples, n_features = X.shape
        X_int = np.zeros_like(X, dtype=np.int)
        X_mask = np.ones_like(X, dtype=np.bool)

        for i in range(n_features):
            valid_mask = np.in1d(X[:, i], self.categories_[i])

            if not np.all(valid_mask):
                if self.handle_unknown == 'error':
                    diff = np.unique(X[~valid_mask, i])
                    msg = ("Found unknown categories {0} in column {1}"
                           " during transform".format(diff, i))
                    raise ValueError(msg)
                else:
                    # Set the problematic rows to an acceptable value and
                    # continue `The rows are marked `X_mask` and will be
                    # removed later.
                    X_mask[:, i] = valid_mask
                    X[:, i][~valid_mask] = self.categories_[i][0]
            X_int[:, i] = self._label_encoders_[i].transform(X[:, i])

        if self.encoding == 'ordinal':
            return X_int.astype(self.dtype, copy=False)

        mask = X_mask.ravel()
        n_values = [cats.shape[0] for cats in self.categories_]
        n_values = np.array([0] + n_values)
        indices = np.cumsum(n_values)

        column_indices = (X_int + indices[:-1]).ravel()[mask]
        row_indices = np.repeat(np.arange(n_samples, dtype=np.int32),
                                n_features)[mask]
        data = np.ones(n_samples * n_features)[mask]

        out = sparse.csc_matrix((data, (row_indices, column_indices)),
                                shape=(n_samples, indices[-1]),
                                dtype=self.dtype).tocsr()
        if self.encoding == 'onehot-dense':
            return out.toarray()
        else:
            return out

In [11]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, Imputer
from sklearn.pipeline import FeatureUnion

num_pipeline = Pipeline([
    ("selector", DataFrameSelector(["Pclass", "Age", "SibSp", "Parch", "Fare", "CabinNorm"])),
    ("imputer", Imputer(strategy="median")),
    ("std_scaler", StandardScaler()),
])

cat_pipeline = Pipeline([
    ("selector", DataFrameSelector(["Sex"])),
    ("label_binarizer", CategoricalEncoder(encoding="onehot-dense")),
])

full_pipeline = FeatureUnion(transformer_list=[
    ("num_pipeline", num_pipeline),
    ("cat_pipeline", cat_pipeline),
])

In [12]:
X_train_prepared = full_pipeline.fit_transform(X_train)
X_train_prepared

array([[ 0.82737724, -0.56573646,  0.43279337, ..., -0.11419157,
         0.        ,  1.        ],
       [-1.56610693,  0.66386103,  0.43279337, ..., -0.11419157,
         1.        ,  0.        ],
       [ 0.82737724, -0.25833709, -0.4745452 , ..., -0.11419157,
         1.        ,  0.        ],
       ...,
       [ 0.82737724, -0.1046374 ,  0.43279337, ..., -0.11419157,
         1.        ,  0.        ],
       [-1.56610693, -0.25833709, -0.4745452 , ..., -0.11419157,
         0.        ,  1.        ],
       [ 0.82737724,  0.20276197, -0.4745452 , ..., -0.11419157,
         0.        ,  1.        ]])

# build model

In [13]:
from sklearn.model_selection import cross_val_predict, cross_val_score
from sklearn.ensemble import RandomForestClassifier

forest_clf = RandomForestClassifier(random_state=56)
y_probas_forest = cross_val_score(forest_clf, X_train_prepared, y_train, cv=5)
y_probas_forest

array([0.74860335, 0.80446927, 0.8258427 , 0.76966292, 0.84745763])

In [14]:
def plot_roc_curve(fpr, tpr, label=None):
    plt.plot(fpr, tpr, linewidth=2, label=label)
    plt.plot([0, 1], [0, 1], 'k--')
    plt.axis([0, 1, 0, 1])
    plt.xlabel('false positive rate')
    plt.ylabel('true positive rate')

In [15]:
from sklearn.metrics import roc_curve

fpr, tpr, thresholds = roc_curve(y_train, y_probas_forest)
plot_roc_curve(fpr, tpr, "Random Forest")
plt.legend(loc="lower right")
plt.show()

ValueError: Found input variables with inconsistent numbers of samples: [891, 5]

In [16]:
from sklearn.model_selection import RandomizedSearchCV
parameters = {
        'n_estimators'      : [5, 10, 20, 30, 50, 100, 300],
        'max_features'      : [3, 5, 8],
        'random_state'      : [0],
        'n_jobs'            : [1],
        'min_samples_split' : [3, 5, 10, 15, 20, 25, 30, 40, 50, 100],
        'max_depth'         : [3, 5, 10, 15, 20, 25, 30, 40, 50, 100]
}

clf = RandomizedSearchCV(RandomForestClassifier(), parameters)
clf.fit(X_train_prepared, y_train)

RandomizedSearchCV(cv=None, error_score='raise',
          estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
          fit_params=None, iid=True, n_iter=10, n_jobs=1,
          param_distributions={'n_estimators': [5, 10, 20, 30, 50, 100, 300], 'max_features': [3, 5, 8], 'random_state': [0], 'n_jobs': [1], 'min_samples_split': [3, 5, 10, 15, 20, 25, 30, 40, 50, 100], 'max_depth': [3, 5, 10, 15, 20, 25, 30, 40, 50, 100]},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score='warn', scoring=None, verbose=0)

In [17]:
cvres = clf.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(mean_score,  params)

0.8103254769921436 {'random_state': 0, 'n_jobs': 1, 'n_estimators': 300, 'min_samples_split': 50, 'max_features': 8, 'max_depth': 30}
0.8170594837261503 {'random_state': 0, 'n_jobs': 1, 'n_estimators': 20, 'min_samples_split': 20, 'max_features': 3, 'max_depth': 30}
0.8148148148148148 {'random_state': 0, 'n_jobs': 1, 'n_estimators': 30, 'min_samples_split': 25, 'max_features': 8, 'max_depth': 25}
0.8092031425364759 {'random_state': 0, 'n_jobs': 1, 'n_estimators': 10, 'min_samples_split': 5, 'max_features': 8, 'max_depth': 15}
0.819304152637486 {'random_state': 0, 'n_jobs': 1, 'n_estimators': 300, 'min_samples_split': 25, 'max_features': 8, 'max_depth': 10}
0.7822671156004489 {'random_state': 0, 'n_jobs': 1, 'n_estimators': 100, 'min_samples_split': 100, 'max_features': 5, 'max_depth': 20}
0.8170594837261503 {'random_state': 0, 'n_jobs': 1, 'n_estimators': 20, 'min_samples_split': 5, 'max_features': 5, 'max_depth': 10}
0.7833894500561167 {'random_state': 0, 'n_jobs': 1, 'n_estimators': 50, 'min_samples_split': 100, 'max_features': 8, 'max_depth': 20}
0.8271604938271605 {'random_state': 0, 'n_jobs': 1, 'n_estimators': 100, 'min_samples_split': 5, 'max_features': 8, 'max_depth': 30}
0.8125701459034792 {'random_state': 0, 'n_jobs': 1, 'n_estimators': 50, 'min_samples_split': 30, 'max_features': 8, 'max_depth': 15}

In [18]:
best_clf = clf.best_estimator_

In [27]:
X_test_prepared = full_pipeline.fit_transform(X_test)
X_test_prepared

array([[ 0.87348191,  0.38623105, -0.49947002, ..., -0.14038222,
         0.        ,  1.        ],
       [ 0.87348191,  1.37137004,  0.61699237, ..., -0.14038222,
         1.        ,  0.        ],
       [-0.31581919,  2.55353683, -0.49947002, ..., -0.14038222,
         0.        ,  1.        ],
       ...,
       [ 0.87348191,  0.70147553, -0.49947002, ..., -0.14038222,
         0.        ,  1.        ],
       [ 0.87348191, -0.20485235, -0.49947002, ..., -0.14038222,
         0.        ,  1.        ],
       [ 0.87348191, -0.20485235,  0.61699237, ..., -0.14038222,
         0.        ,  1.        ]])

In [28]:
predicted = best_clf.predict(X_test_prepared)
out = test[["PassengerId"]]
out["Survived"] = predicted

C:\Users\pekat\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [29]:
out.to_csv("./first_submission.csv", index=False)

In [34]:
pd.read_csv("./first_submission_fixed.csv").columns == pd.read_csv("./first_submission.csv").columns

array([ True,  True])